<div>
  <header class="cards__expander" data-action="click->collapsible-columns#toggle" style="--card-count: <%= [count, 20].min %>" aria-role="button">
    <span class="cards__expander-count" data-drag-and-drop-counter="true"><%= count > 99 ? "99+" : count %></span>
    <h2 class="cards__expander-title"><%= title %></h2>
  </header>
  <%= yield if block_given? %>
</div>
