<section class="cards cards--grid">
  <%= with_automatic_pagination :filtered_cards_paginated_container, page do %>
    <%= render partial: "cards/display/preview", collection: page.records, as: :card, locals: { draggable: true }, cached: ->(card) { cacheable_preview_parts_for(card) } %>
  <% end %>
</section>
